html {
    font-family: arial;
    color: white;
    font-size: 20px;
    margin: 20px;
    user-select: none;
}
body {
    background-color: black;
}
button,
input[type="submit"],
input[type="reset"] {
    background: lightgray;
    color: black;
    border: solid;
    border-width: 2px;
    border-color: grey;
    padding: 5px 25px;
    border-radius: 3px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 10px 3px;
}
button:hover {
    background-color: grey;
}
.bought {
    background-color: black;
    color: white;
    border-color: white;
}
p:hover,
h1:hover {
    cursor: default;
}
button:hover {
    cursor: pointer;
}
.bought:hover {
    cursor: default;
    background-color: black;
}
.toggle {
    color: rgb(248, 177, 248);
    background-color: grey;
    -webkit-text-fill-color: rgb(248, 177, 248);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(248, 177, 248);
}
.hidden {
    display: none;
}
.container {
    display: flex;
    margin-bottom: 10px;
}
.repeatable {
    width: 700px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    margin-left: 10px;
}
.circleGen {
    width: 200px;
    height: 200px;
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
}
#generatorBeta {
    margin-left: 500px;
}
#generatorGamma {
    margin-top: 500px;
}
#generatorDelta {
    margin-top: 500px;
    margin-left: 500px;
}
.barsAlpha {
    background-color: lightcoral;
    height: 100%;
}
.barsBeta {
    background-color: rgb(2, 179, 2);
    height: 100%;
}
.barsGamma {
    background-color: rgb(253, 94, 36);
    height: 100%;
}
.barsDelta {
    background-color: rgb(73, 73, 255);
    height: 100%;
}
#barAlpha {
    background-color: lightcoral;
    width: 100%;
}
#barBeta {
    background-color: rgb(2, 179, 2);
    width: 100%;
}
#barGamma {
    background-color: rgb(253, 94, 36);
    width: 100%;
}
#barDelta {
    background-color: rgb(73, 73, 255);
    width: 100%;
}
.generatorBar {
    position: absolute;
    transition-duration: 0.1s;
}
.progressBar {
    transition-duration: 0.1s;
}
.genText {
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-left: 86px;
    margin-top: 70px;
    font-size: 40px;
}
.infusionText {
    position: sticky;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
}
.infusionBar {
    position: absolute;
    background-color: black;
    border-width: 5px;
    text-align: center;
}
.verticalBarText {
    margin-top: 125px;
}
.horizontalBar {
    height: 100px;
    width: 300px;
    border-left: 0px;
    border-right: 0px;
}
.verticalBar {
    height: 300px;
    width: 100px;
    border-top: 0px;
    border-bottom: 0px;
}
#generatorAlphaBeta {
    margin-left: 205px;
    margin-top: 50px;
    border-style: solid;
}
#generatorAlphaGamma {
    margin-left: 50px;
    margin-top: 205px;
    border-style: solid;
}
#generatorGammaDelta {
    margin-left: 205px;
    margin-top: 550px;
    border-style: solid;
}
#generatorBetaDelta {
    margin-left: 550px;
    margin-top: 205px;
    border-style: solid;
}
#barAlphaBeta {
    background-image: linear-gradient(to right, lightcoral, rgb(2, 179, 2));
    width: 100%;
}
#barAlphaGamma {
    background-image: linear-gradient(to bottom, lightcoral, rgb(253, 94, 36));
    height: 100%;
}
#barGammaDelta {
    background-image: linear-gradient(
        to right,
        rgb(253, 94, 36),
        rgb(73, 73, 255)
    );
    width: 100%;
}
#barBetaDelta {
    background-image: linear-gradient(
        to bottom,
        rgb(2, 179, 2),
        rgb(73, 73, 255)
    );
    height: 100%;
}
